@charset "UTF-8";
.myCalendar {
  position: absolute;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px;

  color: black;

  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);

}

.wh_container >>> .wh_content_all {
  background: transparent;
}

.wh_container >>> .wh_content_item .wh_chose_day {
  background: rgba(255, 255, 255, .2);

  box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}

.wh_container >>> .wh_content_item .wh_isToday {
  background: rgba(0,0,0,.2);
}

.wh_container >>> .wh_item_date:hover {
  border-radius: 20px;
  background: rgba(0,0,0,.2);
}

