// 头部样式

.head-box {
    position: relative;
    height: 360px;
    background-image: url('../images/top_banner.jpeg');
    background-size: cover;
    overflow: hidden;
    .common-head,
    .common-head-mask {
        height: 78px;
    }
    .common-head-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background: url('../images//dark-jianbian-repeatx-0.png') repeat-x;
        background-size: 1px 100%;
    }
    .common-head {
        position: relative;
        z-index: 11;
        .head-logo,
        .head-nav,
        .head-search,
        .head-weixin,
        .head-person {
            float: left;
            padding-top: 10px;
        }
        .head-search,
        .head-weixin,
        .head-person {
            float: right;
        }
        // LOGO
        .head-logo {
            width: 167px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        // head-nav
        .head-nav {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            padding-top: 15px;
            margin-left: 20px;
            .item {
                width: 140px;
                height: 100%;
                .nav-title, .nav-subtitle {
                    display: block;
                    color: #fff;
                    text-align: center;
                    letter-spacing: 1px;
                }
                .nav-title {
                    font-size: 18px;
                    line-height: 28px;
                }
                .nav-subtitle {
                    color: #aeaeae;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
        // head-search
        .head-search {
            width: 21px;
            height: 21px;
            padding-top: 0;
            margin-top: 25px;
            margin-right: 40px;
            background-position: -381px -39px;
    
        }
    
        // weixin
        .head-weixin {
            position: relative;
            width: 16px;
            height: 24px;
            padding-top: 0;
            margin-top: 25px;
            margin-right: 40px;
            background-position: -303px -84px;
            .wx-detail {
            display: none;
            position: absolute;
            top: 40px;
            left: 50%;
            width: 204px;
            height: 170px;
            padding-top: 10px;
            margin-left: -101px;
            background: rgba(0,0,0,.7);
            &:before {
                //position: absolute;
                //left: 50%;
                //transform: translateX(-50%);
                .center-x;
                top: -20px;
                content: '';
                width: 0;
                height: 0;
                padding: 0;
                font-size: 0;
                border: 10px solid transparent;
                border-bottom-color: rgba(0,0,0,.7);
            }
    
            .zm-qrcode {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                border: 5px solid #fff;
                border-radius: 10px;
            }
    
            p {
                margin-top: 10px;
                text-align: center;
                color: #f5d185;
                font-size: 12px;
            }
    
            .polo {
                position: absolute;
                right: -25px;
                bottom: -10px;
                width: 50px;
                height: 50px;
            }
            }
    
            &:hover {
            .wx-detail {
                display: block;
                animation: headMove .2s both;
            }
            }
        }
    
        // person
        .head-person {
            position: relative;
            .person-base {
            font-size: 0; // 不是指字体大小是0px 代码自动格式化的时候，往往会设置一些适当的缩进、换行，但当元素的display为inline或者inline-block的时候，这些缩进、换行就会产生空白，导致前端页面展示变形。
            position: relative;
            z-index: 11;
            .base-logo,
            .base-text {
                display: inline-block;
                vertical-align: middle;
            }
            .base-logo {
                position: relative;
                width: 48px;
                height: 48px;
                background-position: -216px -117px;
                img {
                position: absolute;
                top: -4px;
                left: -5px;
                width: 80%;
                height: 80%;
                margin-top: 10px;
                margin-left: 10px;
                border-radius: 50%;
                }
            }
            .base-text {
                color: #fff;
                font-size: 16px;
                margin-left: 10px;
                .login {
                color: #fff3d0;
                }
            }
            }
            .person-detail {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 10;
            width: 310px;
            padding-top: 78px;
            margin-left: -155px;
            background: rgba(0,0,0,.7);
            .detail-text {
                margin-top: 15px;
                color: #888787;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
            .detail-more {
                position: relative;
                display: block;
                height: 44px;
                margin-top: 20px;
                background: #000;
                color: #fff;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 44px;
                text-align: center;
                vertical-align: middle;
                .comm-more-arrow {
                position: absolute;
                left: 220px;
                top: 18px;
                }
            }
            }
            &:hover {
            .person-detail {
                display: block;
                animation: headMove .2s both;
            }
            }
        }
    }
    // 导航详情
    .nav-detail {

        display: none; // 最后加上
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        // transform: translateY(-10px);
        // transition: transform 0.2s;
        .detail-con {
        display: flex;
        justify-content: flex-start;
        padding-left: 187px;
        padding-top: 78px;
        li {
            width: 140px;
            a {
            display: block;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            // 相当于a:hover
            &:hover {
                color: #e9c06c;
            }
            i {
                display: inline-block;
                width: 14px;
                height: 14px;
                vertical-align: middle;
                &.icon-hot { //相当于i.icon-hot，表示连接符
                background-position: -347px -84px; // 需要测量，或者UI给定好值
                }
                &.icon-new {
                background-position: -381px -65px;
                }
            }
            }
        }
        }
    }
    // 头部动画
    @keyframes headMove {
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    // 背景按钮
    .background-btn {
        bottom: 32px;
        width: 160px;
        height: 40px;
        background-position: -216px -39px;
    }
    // 作者区域
    .author-box {
        margin-top: 223px;
        text-align: right;
        //font-size: 0;
        span, .author-link {
        display: inline-block;
        margin: 0 5px;
        vertical-align: middle;
        }
        span {
        color: #888787;
        font-size: 14px;
        &:nth-of-type(2) {
            color: #f5d185;
        }
        }
        .author-link {
        padding: 0 15px;
        height: 22px;
        line-height: 20px;
        color: #f5d185;
        font-size: 12px;
        border: 1px solid #f5d185;
        background: rgba(0,0,0,0.7);
        }
    }
}
