// 头部样式

.head-box {
    position: relative;
    height: 360px;
    background-image: url('../images/top_banner.jpeg');
    background-size: cover;
    overflow: hidden;
    .common-head,
    .common-head-mask {
        height: 78px;
    }
    .common-head-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background: url('../images//dark-jianbian-repeatx-0.png') repeat-x;
        background-size: 1px 100%;
    }
    .common-head {
        position: relative;
        z-index: 11;
        .head-logo,
        .head-nav,
        .head-search,
        .head-weixin,
        .head-person {
            float: left;
            padding-top: 10px;
        }
        .head-search,
        .head-weixin,
        .head-person {
            float: right;
        }
        // LOGO
        .head-logo {
            width: 167px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        // head-nav
        .head-nav {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            padding-top: 15px;
            margin-left: 20px;
            .item {
                width: 140px;
                height: 100%;
                .nav-title, .nav-subtitle {
                    display: block;
                    color: #fff;
                    text-align: center;
                    letter-spacing: 1px;
                }
                .nav-title {
                    font-size: 18px;
                    line-height: 28px;
                }
                .nav-subtitle {
                    color: #aeaeae;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
    // 导航详情
    .nav-detail {

        display: none; // 最后加上
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        // transform: translateY(-10px);
        // transition: transform 0.2s;
        .detail-con {
        display: flex;
        justify-content: flex-start;
        padding-left: 187px;
        padding-top: 78px;
        li {
            width: 140px;
            a {
            display: block;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            // 相当于a:hover
            &:hover {
                color: #e9c06c;
            }
            i {
                display: inline-block;
                width: 14px;
                height: 14px;
                vertical-align: middle;
                &.icon-hot { //相当于i.icon-hot，表示连接符
                background-position: -347px -84px; // 需要测量，或者UI给定好值
                }
                &.icon-new {
                background-position: -381px -65px;
                }
            }
            }
        }
        }
    }
    // 头部动画
    @keyframes headMove {
        0% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}
