@charset "UTF-8";


.quotebox {
  position: absolute;
  top: 100%;
  margin-top: -150px;
  font-size: small;
  color: white;
  text-align: center;
  cursor: default;
  transition: .5s;
  padding: 0 150px;
  display: inline-block;
  overflow: hidden;

  letter-spacing: 2px;
  /*background-color: rgba(255, 255, 255, .3);*/
  animation: 0s ease 0s 1 normal none running none;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8%;
}
.quote-bg {
  z-index: -1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .25s;
}
.quote-content {
  color: rgba(255,255,255,.9);
  transition: .25s;
  margin-top: 5px;
}
.quote-author {
  color: rgba(255,255,255,.9);
  transition: .25s;
  margin-top: 15px;
}
