@charset "UTF-8";

/*input输入框样式*/
.my-input {
  display: inline-block;
  position: absolute;
  top: 164px;
  left: 50%;
  transform: translateX(-50%);

  width: 230px;
  height: 48px;
  max-width: 80%;
  padding: 13px 46px;
  border: none;
  border-radius: 30px;
  outline: 0;
  background-color: rgba(255, 255, 255, .25);

  color: rgba(0, 0, 0,.8);
  font-size: medium;
  font-weight: 400;
  text-align: center;
  text-rendering: auto;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;

  cursor: text;
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  word-spacing: normal;
  transition: color .2s, background-color .2s, box-shadow .2s, left .2s, opacity .2s, top .2s, width .2s;
}

.my-input:hover {
  width: 530px;

  color: #000000;

  background-color: rgba(255, 255, 255, .9);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
}


/*input获得焦点时，伸长*/
.my-input.focus {
  width: 530px;

  color: #000000;

  background-color: rgba(255, 255, 255, .9);
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
}

.btnsearch {
  position: absolute;
  top: 164px;
  left: calc(50% + 230px);

  margin-top: 12px;


  cursor: pointer;
  transition: .25s;
}

.tarns-icon {
  position: absolute;
  left: calc(50% - 245px);
  top: 164px;

  margin-top: 12px;
  cursor: pointer;
  transition: .25s;
}

.btnsearch.iconfont, .tarns-icon.iconfont {
  font-size: 20px;
}

/*input engine start*/

.search-engine {
  display: block;
  position: absolute;
  top: 246px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /*待加的新功能，先暂时先写死*/
  width: 100vw;
  /*width: 560px;*/
  height: 100px;
  /*配合img的margin-top:24px食用*/
  margin-top: -24px;

  text-align: center;
  transition: .25s;
  animation: none;
  opacity: 1;
}
/*.search-engine.showEngine {*/
/*  width: 100vw;*/
/*}*/
.search-engine.fold {
  display: flex;
  transform: translateX(-50%);

  animation: searchOptBox2 .25s ease;
  opacity: 1;
}

.egine-item {
  position: relative;

  padding: 5px 33px;
  margin-left: 5px;
  margin-right: 5px;

  background-color: rgba(255, 255, 255, .1);
  border-radius: 20px;
  transition: .25s;
  cursor: pointer;
  box-shadow: 0 0 2px grey;
}
.egine-slider .iconfont {
  color: rgba(206, 206, 206, 0.86);
  font-size: 16px;
}
.egine-slider .iconfont:hover {
  cursor: pointer;
  color: rgba(246, 246, 246, 0.93);
}
/*.egine-item.egine-more {*/
/*  position: absolute;*/
/*  top: calc(50% - 136px);*/
/*  left: calc(50% + 249px);*/
/*  padding: 5px 5px;*/
/*  color: #e8e8e8;*/
/*}*/

/*.egine-item.egine-edit {*/

/*  padding: 5px 5px;*/
/*  color: #e8e8e8;*/

/*}*/
/*.egine-edit .iconfont {*/
/*  font-size: 14px;*/
/*}*/
/*.egine-edit .iconfont:hover {*/
/*  color: #1F8BFF;*/
/*}*/
/*.egine-item.egine-more:hover {*/
/*  color: #282828;*/

/*  background-color: rgba(255,255,255,.8);*/
/*  box-shadow: 0 0 2px gainsboro;*/
/*}*/
.egine-item.selected {
  color: white;

  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 2px gainsboro;
}

.egine-item img {
  width: 20px;
  height: 20px;
  margin-top: 24px;

  vertical-align: bottom;
}
/*.egine-item.egineSmall {*/
/*  padding: 5px 10px;*/
/*}*/
/*input engine end*/

/*input result start*/

/*  展示搜索结果的样式*/
.keyword {
  position: absolute;
  width: 530px;
  height: auto;
  top: 290px;
  left: 50%;

  margin-left: -265px;
  border-top: none;
  border-radius: 15px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, .2);*/
  background: rgba(212, 212, 212, 0.2);
  box-shadow: inset 0 0 0 3000px rgba(215, 215, 215, 0.8);

  /*box-shadow: 0px 0px 5px rgba(153, 153, 153, 0.41);*/

  font-size: medium;

  overflow-y: hidden;

  transition: .25s;
  backdrop-filter: blur(2px);
}
.keyword.moreEgine {
  top: 333px
}
.keyword li {
  display: -webkit-box;
  width: 530px;
  height: 30px;
  padding-right: 10px;

  border-bottom: solid 1px transparent;
  /*background: rgba(235, 235, 243, .9);*/
  /*background: rgba(191, 191, 191, 0.2);*/

  text-indent: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, .8);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  clear: both;
  cursor: pointer;
  list-style: none;
  transition: .25s cubic-bezier(0.65, 0.55, 0.1, 1);
}

.keyword li a {
  display: block;
  width: 100%;
  height: 100%;

  color: rgb(56, 53, 53);
}

.keyword li.focus, .keyword li:hover {
  background: rgba(120, 119, 119, 0.44);

  text-indent: 30px;
}

.keyword li.focus a, .keyword li:hover a {
  color: white;
}

/*input result end*/

li.search-item {
	position: relative;
}
.search-item span.iconfont {
	position: absolute;
	right: 10px;
}
