@charset "UTF-8";

.mytime {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);

  width: 230px;
  height: 52px;

  font-size: 63px;
  text-align: center;

  cursor: pointer;
}

.mytime span {
  color: floralwhite;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, .3);
}

.timeTwo {
  font-size: 18px;
  color: floralwhite;
}


