@charset "UTF-8";
/*整体结构*/
.bookmark {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: aliceblue;
  
}

.bookmark-left {
  box-sizing: border-box;
  float: left;
  width: calc(25% - 5px);
  height: 100%;
  padding: 40px 50px;
  background-color: #F7F7F7;
  border-right: 1px solid darkgrey;
}
.bookmark-left-inner {
  position: relative;
}
.bookmark-left-inner > h2 {
  color: black;
}
.my-input-left {
  position: relative;
  padding: 15px 0;
}
.icon-sousuo {
  position: absolute;
  left: 6px;
  top: 27px;
  font-size: 14px;
  color: #555555;
}

.bookmark-right {
  box-sizing: border-box;
  float: left;
  width: 75%;
  height: 100%;
  padding: 40px 50px;
  padding-right: 150px;
  background-color: #F7F7F7;

}
.bookmark-left, .bookmark-right.scroller {
  /*overflow-y: auto;*/
  overflow: scroll;
}

.bookmark-right-inner {
  height: auto;
}
.upper {
  display: flex;
  line-height: 27.59px;
}
.upper > h3{
  flex-grow: 3;
  color: black;
}

.upper > div{
  flex-grow: 1;
}
.icon-tianjia3, .icon-wenjianjiatianjia, .icon-gengduo {
  color: black;
  font-size: 18px;

}
.function-area-one ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;

  /*justify-content: space-around;*/
}
.function-area-one ul li {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 140px;
  font-size: 16px;
  border-radius: 3px;
}
.function-area-one ul li::before {
  padding-right:5px;
}
.function-area-one ul li.item-end::before {
  padding-right: 0 ;
}
.function-area-one ul li:hover {
  background-color: #eaeaea;
}
.function-area-one ul li.item-end {
  width: 40px;
}

.content {
  width: 100%;
  height: auto;
  /*background-color: orangered;*/
  margin-top: 14px;
}
img.url-icon {
  width: 19px;
  height: 19px;
  vertical-align: bottom;
}
.icon-delete1 {
  font-size: 18px;
}
.function-item {
  cursor: pointer;
}

.left-menu {
  position: fixed;
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.left-menu .left-menu-inner {
  box-sizing: border-box;
  padding: 5px;
}
span.left-menu-item {
  display: block;
  box-sizing: border-box;
  height: 30px;
  border-radius: 2px;
  margin: 5px 0;
  line-height: 30px;
  font-size: 14px;
}
span.left-menu-item:hover {
  background-color: #EEEEEE;
}
span.left-menu-item::before {
  margin: 0 8px 0 8px;
}
.left-menu-inner .linear {
  border-bottom: 1px grey solid;
}
.url-title:hover, .url-addr:hover {
  text-decoration: underline;
}
.url-addr {
  color: grey;
  font-size: 14px;
}
.selected-bookmark {
  position: absolute;
  right: 150px;
  top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 46px;
  /*background-color: orangered;*/
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.selected-bookmark .title {
  line-height: 46px;
}

.selected-bookmark button {
  width: 95px;
  height: 33px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.selected-bookmark button.delete {
  background-color: #0078D4;
  color: white;
}
.selected-bookmark button.delete:hover {
  background-color: #006CBE;
}

.selected-bookmark button.cancel {
  background-color: #EDEDED;
}
.selected-bookmark button.cancel:hover {
  background-color: #E5E5E5;
}
.function-item.icon-gengduo {
  position: relative;
}
.import-function {
  position: absolute;
  top: 0;
  left: 39px;
  width: 123px;
  height: 82px;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.import-function .iconfont {
  font-size: 14px;
}

.import-function-inner {
  box-sizing: border-box;
  padding: 5px;
}
.import-function-inner span {
  box-sizing: border-box;
  display: block;

  height: 30px;
  margin: 5px 0;
  border-radius: 2px;

  line-height: 30px;

}

.import-function-inner span:hover {
  background-color: #EEEEEE;
}
.import-function-inner span.import-item::before {
  margin: 0 5px 0 5px;
}

.homepage {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 28px;
  cursor: pointer;

}

.import-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.36);

}

.resize {
  width: 5px;
  height: 100%;
  cursor: w-resize;
  float: left;
}
